form{
    background-color: rgb(72, 32, 248);

    width: 30%;
    height: 400px;
    color: #f2f2f2;

    margin: auto;
    margin-top: 50px;
    
    padding: 30px;
    border: 10px solid #cf6beb;

    /* posicionamiento */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-columns{
    display: flex;
    justify-content: space-between;
}

.fields{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

input{
    background: transparent;
    border: none;
    border-bottom:3px solid rgb(195, 195, 195);
    padding: 10px;
    color: #f2f2f2;
}